<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a [routerLink]="['/']" class="brand-logo">
          <span>
            <i class="material-icons left">today</i>
            Agenda
          </span>
        </a>
        <a href="#" data-target="mobile" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a [routerLink]="['/horarios', 'ins']" class="flow-text">Horários</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile" #mobile>
    <div class="row">
      <div class="col s8 offset-s2" style="padding-top: 20px;">
          <span>
            <i class="material-icons left">today</i>
            Agenda
          </span>
      </div>
    </div>
    <li><a [routerLink]="['/horarios', 'ins']" class="flow-text" style="color: white;">Horários</a></li>
  </ul>
</div>
