/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

.titulo {
  font-size: 40px;
  font-weight: bold;
}

.edit {
  background-color: #031633;
}
